.about-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.notion-embed-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  padding: 0;
  margin: 0;
}

.notion-embed {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
  flex: 1;
}

@media (max-width: 768px) {
  .notion-embed-container {
    min-height: 400px;
  }
}
